/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* { 
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

html {    
    position: relative;
    min-height: 100vh;
    /* min-height: 100vh;  */
}

body {
    max-width: 1200px;
    margin: 0 auto;
    /* position: relative; */
    /* margin-bottom: 120px; */
    background-color: rgb(50, 45, 129);
    line-height: 1.6;
    
    /* padding: 1rem; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}

footer, header {
    background-color: rgb(67, 55, 174);
    border-radius: 10px;
    padding: .5rem;
    color: rgb(255, 125, 242);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* overflow: hidden; */
    position: relative;
}

header nav {
    display: flex;
    /* display: none; */
}

header nav a {
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 125, 125);
    display: block;
}

header #mobLink {
    position: absolute;
    display: none;
    width: 100%;
    top: 4.25rem;
    left: 0;
}

header #mobLink a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 0.5rem;
    background-color:rgb(30, 0, 148);
    transition: 0.3s background-color, 0.3s color;

}

header #mobLink a:hover {
    background-color: rgb(255, 125, 125);
    color: black;
}


header .icon-out {
    /* background: black; */
    display: none;
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
    /* padding: 1rem; */
}

header .icon-out a {
    font-size: 1.5rem;
    color: #18f0ff;
    transition: 0.3s color;
}

header .icon-out a:hover {
    font-size: 1.5rem;
    color: #ff8b18;
}

/* header > a:hover {
    background-color: #ddd;
    color: black;
} */

header h1 {
    font-size: 40px;
}

/*mains*/

main {
    /* margin: 0 auto; */
    margin-bottom: 120px;
    padding: .5rem;
    /* padding-bottom: 100px; */
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;  
}

main .info-l {
    min-width: 300px;
    padding: 1rem;
    overflow-wrap: break-word;
    flex: 2;
}

main .info-r {
    min-width: 300px;
    padding: 1rem;
    flex: 1;
    justify-content: left;
}

main a {
    color: rgb(255, 134, 134);
    text-decoration: none;
}


main h1 {
    color: rgb(145, 255, 218);
    font-size: 30px;
    margin: 20px;
}

main h2 {
    color:rgb(134, 214, 234);
    font-size: 25px;
    margin: 10px;
}

main p {
    text-align: justify;
}

main p, main ul li{
    color: rgb(238, 238, 238);
}

main .mes {
    color: rgb(243, 255, 134);
}


main ul li {
    list-style-type: none;
}

.pride-strip {
    width: 100%;
    height: 4px;
    background-size: 100% 100%;
    content: '';
    display: block;
    background-image: linear-gradient(left,#cf0f0f 0%,#cf0f0f 18%,#ffa000 18%,#ffa000 33%,#ffd200 33%,#ffd200 50%,#36a030 50%,#36a030 66%,#1b77cd 66%,#1b77cd 83%,#4d148c 83%,#4d148c 100% );
    background-image: -o-linear-gradient(left,#cf0f0f 0%,#cf0f0f 18%,#ffa000 18%,#ffa000 33%,#ffd200 33%,#ffd200 50%,#36a030 50%,#36a030 66%,#1b77cd 66%,#1b77cd 83%,#4d148c 83%,#4d148c 100% );
    background-image: -moz-linear-gradient(left,#cf0f0f 0%,#cf0f0f 18%,#ffa000 18%,#ffa000 33%,#ffd200 33%,#ffd200 50%,#36a030 50%,#36a030 66%,#1b77cd 66%,#1b77cd 83%,#4d148c 83%,#4d148c 100% );
    background-image: -webkit-linear-gradient(left,#cf0f0f 0%,#cf0f0f 18%,#ffa000 18%,#ffa000 33%,#ffd200 33%,#ffd200 50%,#36a030 50%,#36a030 66%,#1b77cd 66%,#1b77cd 83%,#4d148c 83%,#4d148c 100% );
    background-image: -ms-linear-gradient(left,#cf0f0f 0%,#cf0f0f 18%,#ffa000 18%,#ffa000 33%,#ffd200 33%,#ffd200 50%,#36a030 50%,#36a030 66%,#1b77cd 66%,#1b77cd 83%,#4d148c 83%,#4d148c 100% );
    background-image: -webkit-gradient( linear,left bottom,right bottom,color-stop( 0,#cf0f0f),color-stop( .18,#cf0f0f),color-stop( .18,#ffa000),color-stop( .33,#ffa000),color-stop( .33,#ffd200),color-stop( .5,#ffd200),color-stop( .5,#36a030),color-stop( .66,#36a030),color-stop( .66,#1b77cd),color-stop( .83,#1b77cd),color-stop( .83,#4d148c),color-stop( 1,#4d148c));
}

/*footer*/
footer {
    position: absolute;
    bottom: 0;
    min-height: 100px;
    /* width: 100%; */
    /* width: 100%; */
    /* max-width: 1200px; */
    /* max-height doesn't work with the main height */
    /* width: max-content; */

    width: -webkit-calc(100% - 20px);
    width:    -moz-calc(100% - 20px);
    width:         calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(255, 125, 125);
}

@media (min-width: 1200px) {
    footer {
        max-width: 1170px;
    }

}

@media (max-width: 700px) {
    header nav {
        display: none;
    }

    header .icon-out {
        display: block;
    }
}


/* footer hr, footer p, footer .pride-strip {
    flex: 1 1 auto;
} */

